@font-face {
    font-family: nunito;
    src: url(assets/Nunito-VariableFont_wght.ttf);
}

:root {
    --sidebarColor: rgb(31, 165, 255);
    --headerColor: rgb(255, 255, 255);
    --bodyColor: rgb(232, 232, 232);
    --borderShadowColor: rgb(194, 194, 194); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: nunito;
}

a {
    color: white;   
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    color: rgb(221, 221, 221);
}

ul, li {
    list-style: none;
    margin-bottom: 1rem;
    font-weight: bold;
}

img {
    margin-right: 1rem;
    height: 1rem;
    width: 1rem;
}

input {
    border-radius: 3rem;
    height: 2rem;
    background-color: var(--bodyColor);
    border: none;
    margin-top: .25rem;
    min-width: 535px;
}

button {
    height: 3rem;
    width: 8rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--sidebarColor);
    color: white;
    font-size: 1rem;
    
}

button:hover {
    background-color: rgb(20, 132, 207);
}

.main-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 250px 1fr;
    height: 100%;
    width: 100%;
}

.sidebar-container {
    background-color: var(--sidebarColor);
    grid-row: 1/3;
    display: grid;
    padding: 2rem;
    color: white;
    grid-template-rows: 120px 1fr 3fr;
}

.sidebar-heading {
    display: grid;
    grid-template-columns: 46px 1fr;
}

.top-sidebar-list {
    display: grid;
    margin-bottom: 2rem;
}

.bottom-sidebar-list {
    display: grid;
}

.dashboard-icon {
    height: 2rem;
    width: 2rem;
    margin: 0.25rem 0 0 0;
    
}

.top-container {
    background-color: var(--headerColor);
    grid-column: 2/3;
    grid-row: 1/2;   
    box-shadow: 0 5px 5px 0 var(--borderShadowColor);
    padding: 2rem 2rem;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    gap: 2rem;
    min-height: 80px;
    
}

.search-container {
    display: grid;
    grid-template-columns: 2rem 1fr;
}

.search-container img {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: .5rem;
}

.notify-container {
    display: grid;
    grid-template-columns: 3rem 5rem 1fr;
    padding-left: 11rem;
}

.notify-container p {
    margin-top: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.bell-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: .5rem;
} 

.notify-pic {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.greeting-container {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5rem;
    
}

.greeting-container img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    grid-row: 1/3;
    grid-column: 1/2;
}

.greeting {
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
}

.greeting-name {
    grid-row: 2/3;
    grid-column: 2/3;
    font-weight: bold;
    font-size: 2rem;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 0 4.5rem;
    gap: 2rem;
    
}

.content-container {
    background-color: var(--bodyColor);
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 400px;
    padding: 4rem 2rem;
    column-gap: 2rem;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 20px;
}

.card {
    background-color: white;    
    border-radius: 1rem;
    border-left: 10px solid gold;
    min-height: 250px;
    padding: 30px 20px 30px 25px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: gray;
    margin-bottom: 25px;
}

.card-icons {
    justify-self: end;
    
}

.card-icons img {
    height: 1.2rem;
    width: 1.2rem;
}

.content-side-container {
    display: grid;
}